# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular Data Science Languages
- Commonly Used Data Science Libraries
- Examples  of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are: Python, R, Julia, and Apache Scala.

Some of the commonly used libraries used by Data Scientists include: Scikitlearn, NumPy, Pandas, and TensorFLow.

|Data Science Tools|
|------------------|
|MySQL             |
|PostgreSQL        |
|Apache Cassandra  |

### Below are a few examples of evaluating arithmetic expressions in Python:
|Arithmetic Expressions in Python|
|--------------------------------|
|            x + y|
|            x - y|
|            x * y|
|            x / y|

The below arithmetic expression example is to show multiplication and then add integers:

In [7]:
(3*4)+5

17

The below expression will convert 200 minutes to hours by dividing by 60:

In [10]:
200/60

3.3333333333333335

## Author:
Duane Huff